@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);
html {
  height: 100%;
}
body {
  font-family: "Space Mono", sans-serif;
  
  background-color: hsl(185, 41%, 84%);
  height: 100%;
  
  color: hsl(186, 14%, 43%);
}
input{
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
    border-color: transparent;
    border-radius: 10px;
    font-weight: 700;
}
#maindiv {
  display: flex;
  flex-direction: column;
  padding: 0px;
  
}

#bottomDiv{
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 10px;
}

#billInput{
    margin-bottom: 20px;
}


#imgcontain {
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 15px;
}
.tipPercent{
    font-size: 24px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    width: 125px;
}

#maincard {
  background-color: white;
  margin-top: 25px;
  width: 100%;
  padding: 25px;
  border-radius: 25px 25px 0 0;
  padding-bottom: 50px;
}

#firstRow{
    display: flex;
    justify-content: space-evenly;
}

#secondRow{
     justify-content: space-evenly;
     padding-top: 10px;
     padding-bottom: 10px;
}
#thirdRow{
    justify-content: space-evenly;
    padding-bottom: 25px;
}
#billInput {
  text-align: right;
  font-size: 24px;
  width: 84%;
}
#bill{
    padding-left: 30px;
    font-weight: 700;
}

#customInput {
  text-align: right;
  font-size: 24px;
  border-radius: 5px;
  width: 125px;
  
}
#selectTip{
    margin-left: 27px;
    font-weight: 700;
}


#peopleInput {
  text-align: right;
  font-size: 24px;
  margin-bottom: 30px;
  width: 90%;
}
#pplInpDiv{
    display: flex;
    justify-content: center;
}
#people{
    font-weight: 700;
    padding-left: 24px;
}
::placeholder{
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    padding-right: 5px;

}
#tipamtPar{
    padding-top: 10px;
}
#resetBtn{
    margin-bottom: 10px;
    width: 95%;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    font-size: 24px;
    border-color: transparent;
    border-radius: 5px;
}
#resetDiv{
    display: flex;
    justify-content: center;
}

.bottomRow{
    justify-content: space-between;
}

#tipAmtNum{
    margin-top: 25px;
}
.pars{
    margin-left: 20px;
    font-weight: 700;
}
.amounts{
    font-size: 24px;
    font-weight: 700;
}
span{
    color: hsl(186, 14%, 43%);
    font-weight: 700;
}